body {
  background-image: url('../img/public/login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.01);
}

#aaa{
  color: #ffffff;
}
h2 {
  margin-bottom: 20px;
  margin-right: 30px;
  font-size: 24px;
  color: #ffffff;
}

input {
  padding: 12px 15px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  padding: 12px 25px;
  margin-top: 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
