<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Entrenamiento Diario</title>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="/css/entrenamiento.css">
</head>
<body>
<h2>Entrenamiento del día</h2>
<p>Hora de inicio: <strong th:text="${horaActual}"></strong></p>

<form id="form-entrenamiento" method="post" th:action="@{/guardar-dia}">
    <div th:if="${rutinaHoy != null}">
        <div th:each="ejercicio, stat : ${rutinaHoy.ejercicios}">
            <h4>Ejercicio <span th:text="${stat.index + 1}"></span></h4>
          <input type="hidden" th:name="'ejercicios[' + ${stat.index} + '].id'" th:value="${ejercicio.id}" />


        <label>Nombre:</label>
        <input type="text" th:name="'ejercicios[' + ${stat.index} + '].nombreEjercicio'" th:value="${ejercicio.nombreEjercicio}" />
        <label>Series:</label>
        <input type="number" th:name="'ejercicios[' + ${stat.index} + '].series'" th:value="${ejercicio.series}" />
        <label>Repeticiones:</label>
        <input type="number" th:name="'ejercicios[' + ${stat.index} + '].repeticiones'" th:value="${ejercicio.repeticiones}" />
        <label>Peso Usado:</label>
        <input type="number" th:name="'ejercicios[' + ${stat.index} + '].pesoUsado'" />
        <label>Repeticiones Recamara:</label>
        <input type="number" th:name="'ejercicios[' + ${stat.index} + '].repeticionesRecamara'" />
        <label>Comentario:</label>
        <textarea th:name="'ejercicios[' + ${stat.index} + '].comentario'"></textarea>
            <input type="hidden" th:name="horaIncio" th:value="${horaActual}" />

            <hr/>
        </div>
    </div>
    <div th:if="${rutinaHoy == null}">
        <p>No tienes rutina asignada para hoy.</p>
    </div>

    <button type="submit">Guardar entrenamiento</button>
</form>

<!-- Formulario para agregar un nuevo ejercicio -->
<h3>Agregar nuevo ejercicio</h3>
<form method="post" th:action="@{/agregar-ejercicio}">
    <label>Nombre:</label>
    <input type="text" name="nombre" required />

    <label>Series:</label>
    <input type="number" name="series" required />

    <label>Repeticiones:</label>
    <input type="number" name="repeticiones" required />

    <label>Peso usado (kg):</label>
    <input type="number" name="pesoUsado" />

    <label>Repeticiones recámara:</label>
    <input type="number" name="repeticionesRecamara" />

    <label>Comentario:</label>
    <textarea name="comentario"></textarea>

    <button type="submit">Añadir ejercicio</button>
</form>
</body>
</html>
